/*------------------------------------*\
  # Buttons
\*------------------------------------*/

@mixin button {
  @include reset-appearance;
  @include link-reset;

  display: inline-block;
  border: 0.2rem solid transparent;
  text-transform: uppercase;
  font-size: $fs-md;
  font-weight: $fw-medium;
  padding: 1.6rem 3.2rem;
  transition: all $transition;
}

@mixin button-sm {
  padding: 1rem 2rem;
  font-size: 1.4rem;
}
