/*------------------------------------*\
  # Testimonials
\*------------------------------------*/

.testimonials {
  position: relative;
  margin-top: 8rem;

  @media (min-width: 1020px) {
    margin-top: 12.8rem;
  }

  &::before {
    content: url('../images/shapes/rect-shape.svg');
    position: absolute;
    top: 3rem;

    @media (min-width: 1600px) {
      content: url('../images/shapes/rect-shape-lg.svg');
    }
  }

  // Slick slider
  .slick-list {
    margin: 0 -5px;

    @media (min-width: 1020px) {
      margin: 0 -10px;
    }

    @media (min-width: 1240px) {
      margin: 0 -20px;
    }
  }

  .slick-slide > div {
    padding: 0 5px;

    @media (min-width: 1020px) {
      padding: 0 10px;
    }

    @media (min-width: 1240px) {
      padding: 0 20px;
    }
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
  }

  .slick-slide > div {
    height: 100%;
  }

  .slick-dots {
    position: static;
    margin-top: 2.4rem;

    @media (min-width: 1020px) {
      margin-top: 4.8rem;
    }
  }

  .slick-dots li {
    button::before,
    &.slick-active button::before {
      font-size: 16px;
      opacity: 1;
      color: $clr-slick-dots;
    }

    &.slick-active button::before {
      color: $clr-slicks-dots-active;
    }
  }
}

.testimonials__list {
  position: relative;
  margin-top: 4.8rem;
  padding: 1.6rem;

  @media (min-width: 768px) {
    padding: 2.4rem;
  }

  @media (min-width: 1020px) {
    margin-top: 6.4rem;
    padding: 4.8rem;
  }

  @media (min-width: 1240px) {
    padding: 6.4rem;
  }
}

.testimonials__shape {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba($clr-primary, 0.9);
}
