/*------------------------------------*\
  # Footer
\*------------------------------------*/

.footer {
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;

  font-size: $fs-sm;
  color: $clr-base;

  @media (min-width: 900px) {
    margin-top: 4.8rem;
  }
}

.footer__inner {
  @media (min-width: 900px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__copyright {
  margin-bottom: 1.6rem;

  @media (min-width: 900px) {
    margin-bottom: 0;
  }
}

.footer__social {
  margin-top: 3.2rem;
}

.footer__highlight {
  color: $clr-danger;
}

.footer__link {
  @include link-reset;
  @include link($clr-primary, darken($clr-primary, 15%));
  font-weight: $fw-medium;
}
