/*------------------------------------*\
  # Footer
\*------------------------------------*/

.footer {
  padding: 4rem 0;
  font-size: $fs-sm;
  color: $clr-base;

  p {
    margin: 0;
  }
}

.footer__copyright {
  margin-bottom: 1.6rem;
}

.footer__social {
  margin-top: 3.2rem;
}

.footer__highlight {
  color: $clr-danger;
}

.footer__link {
  @include link-reset;
  @include link($clr-primary, darken($clr-primary, 15%));
  font-weight: $fw-medium;
}
