/*------------------------------------*\
  # Header
\*------------------------------------*/

.header {
  position: relative;
  margin-top: 4rem;
}

.header__inner {
  @media (min-width: 920px) {
    display: flex;
    justify-content: space-between;
  }
}
