/*------------------------------------*\
  # Navigation
\*------------------------------------*/

.navigation-toggle {
  // visibility: hidden;
  @include reset-appearance;
  position: absolute;
  top: 0.5rem;
  right: 2.4rem;
  line-height: 1;

  @media (min-width: 920px) {
    display: none;
  }
}

.navigation-toggle__bar {
  width: 3.2rem;
  height: 0.3rem;
  // background: $clr-dark;

  transition: all $transition;
}

.navigation-toggle__bar--one {
  margin-bottom: 0.3rem;

  &.is-open {
    transform: rotate(-45deg);
  }
}

.navigation-toggle__bar--two {
  &.is-open {
    opacity: 0;
  }
}

.navigation-toggle__bar--three {
  margin-top: 0.3rem;

  &.is-open {
    width: 3rem;
    transform: translateY(-12px) rotate(45deg);
  }
}
