/*------------------------------------*\
  # Navigation
\*------------------------------------*/

.navigation-wrapper {
  display: flex;
}

.navigation-toggle {
  @include reset-appearance;
  position: absolute;
  top: 1rem;
  right: 2.4rem;
  line-height: 1;
  z-index: 99;

  @media (min-width: 920px) {
    display: none;
  }

  &:hover {
    .navigation-toggle__bar--two {
      width: 3rem;
    }
  }

  &.is-open {
    position: fixed;
    top: 5rem;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.navigation-toggle__bar {
  width: 3rem;
  height: 0.3rem;
  border-radius: $border-radius;
  background: $clr-dark-off;

  transition: all $transition;

  &.is-open {
    background: $clr-light;
  }
}

.navigation-toggle__bar--one {
  margin-bottom: 0.4rem;

  &.is-open {
    transform: rotate(-45deg);
  }
}

.navigation-toggle__bar--two {
  width: 1.2rem;

  &.is-open {
    opacity: 0;
  }
}

.navigation-toggle__bar--three {
  margin-top: 0.4rem;

  &.is-open {
    width: 3rem;
    transform: translateY(-12px) rotate(45deg);
  }
}

.navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  overflow-y: scroll;
  z-index: 98;
  background: $clr-dark-off;

  transition: all $transition;

  &.is-open {
    transform: translateX(0);
  }

  @media (min-width: 768px) {
    position: static;
    transform: none;
    background: none;
    overflow: auto;
  }
}

.navigation__list {
  @include list-unstyled;
  margin-top: 14.4rem;
  margin-bottom: 6.4rem;
  text-align: center;

  @media (min-width: 768px) {
    margin: 0;
    text-align: left;
  }
}

.navigation__item {
  &:not(:last-child) {
    margin-bottom: 4.8rem;

    @media (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 3.2rem;
    }
  }

  @media (min-width: 768px) {
    display: inline-block;
  }
}

.navigation__link {
  @include link-reset;
  @include link($clr-light, $clr-primary);
  font-size: 3.2rem;
  font-weight: $fw-bold;

  @media (min-width: 768px) {
    @include link($clr-base, $clr-primary);
    font-size: 1.6rem;
    font-weight: $fw-medium;
  }
}

.navigation__social {
  margin-top: 2.4rem;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-left: 6.4rem;
  }
}
