/*------------------------------------*\
# Variables
\*------------------------------------*/

// Font Family
$ff-base: 'Inter', sans-serif;
$ff-heading: $ff-base;

// Font Weight
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
$fw-extra-black: 950;

// Font Size
$fs-xxl: 2.2rem;
$fs-xl: 2rem;
$fs-lg: 1.8rem;
$fs-md: 1.6rem;
$fs-sm: 1.4rem;
$fs-xs: 1.2rem;

// Colors
$clr-primary: #ffd976;
$clr-primary-off: #fff2d0;
$clr-primary-off-dk: #e3d7b7;
$clr-primary-off-dkr: #c8c0aa;
$clr-primary-off-dkst: #aa9e7c;

$clr-secondary: #c4d8ee;
$clr-secondary-dkr: #89b1dd;
$clr-secondary-dkst: #397cc6;

// Other colors
$clr-base: #586a81;
$clr-base-off: #79899e;

$clr-light: #fff;
$clr-dark: #2b2c30;
$clr-dark-off: #101419;
$clr-brown: #bdb399;
$clr-blue: #7397be;
$clr-gray: #9aa7b8;
$clr-lightgray: #e8eef5;
$clr-danger: #984447;
$clr-danger-off: #e15554;

$clr-slick-dots: #e8eef5;
$clr-slicks-dots-active: $clr-primary-off-dkst;

$clr-custom-checkbox-bg: $clr-secondary;
$clr-custom-checkbox-base: $clr-base;

// Border Radius
$border-radius: 0.6rem;

// Transition
$transition: 0.25s ease-in-out;
