/*------------------------------------*\
  # Buttons
\*------------------------------------*/

.button {
  @include button;
}

.button--sm {
  @include button-sm;
}

.button--primary {
  background: $clr-primary-off-dk;
  color: $clr-brown;

  &:hover,
  &:focus {
    background: $clr-primary-off-dkr;
    color: $clr-primary-off-dkst;
  }
}

.button--outline-primary {
  border: 0.2rem solid $clr-primary-off-dk;
  color: $clr-primary-off-dk;

  &:hover,
  &:focus {
    background: $clr-primary-off-dk;
    color: $clr-primary-off-dkst;
  }
}

.button--secondary {
  background: $clr-secondary;
  color: $clr-blue;

  &:hover,
  &:focus {
    background: $clr-secondary-dkr;
    color: $clr-secondary-dkst;
  }
}
