/*------------------------------------*\
  # Instagram Feed
\*------------------------------------*/

.instagram-feed {
  position: relative;
  margin-top: 9.6rem;

  @media (min-width: 1020px) {
    margin-top: 12.8rem;
  }

  &::before {
    content: url('../images/shapes/rect-shape.svg');
    position: absolute;
    top: -5rem;
    right: 0;

    @media (min-width: 1020px) {
      content: url('../images/shapes/rect-shape-lg.svg');
    }
  }
}

.instagram-feed__header {
  text-align: center;
}

.instagram-feed__heading {
  font-family: $ff-heading;
  font-weight: $fw-bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin: 0 0 0.8rem 0;
  color: $clr-dark-off;

  @media (min-width: 1020px) {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.instagram-feed__link {
  @include link-reset;
  @include link($clr-primary, darken($clr-primary, 15%));
}

.instagram-feed__list {
  margin-top: 2.4rem;
}

.instagram-item {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 22.5rem;
}
