/*------------------------------------*\
  # Logo
\*------------------------------------*/

.logo {
  line-height: 1;
}

.logo__link {
  @include link-reset;
  font-size: 1.8rem;
  font-weight: $fw-bold;
  text-transform: uppercase;
  color: $clr-dark;
}

.logo__highlight {
  display: block;
  margin-top: 0.4rem;
  font-weight: $fw-normal;
  color: $clr-primary;
}
