/*------------------------------------*\
  # Pagination
\*------------------------------------*/

.pagination {
  text-align: right;
}

.pagination-list {
  @include list-unstyled;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.pagination-list__item {
  display: inline-block;
  font-family: $ff-base;
  font-weight: $fw-normal;
  font-size: 1.6rem;
  line-height: 2.9rem;
  display: inline-block;
  color: $clr-base;
}

.pagination-list__link,
.pagination-list__next,
.pagination-list__previous {
  @include link-reset;
  @include link($clr-base, $clr-dark-off);
  cursor: pointer;
  outline: none;

  &--active {
    color: $clr-dark-off;
  }
}

.pagination-list__next,
.pagination-list__previous {
  @include link($clr-gray, $clr-dark-off);
}
