/*------------------------------------*\
  # Section
\*------------------------------------*/

.section__heading {
  position: relative;
  font-family: $ff-heading;
  font-weight: $fw-medium;
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin: 0;
  color: $clr-dark-off;

  @media (min-width: 1020px) {
    font-size: 2.8rem;
  }

  &::before {
    content: url('../images/shapes/line.svg');
    position: absolute;
    top: -4rem;
  }
}
