/*------------------------------------*\
  # Subpage Header
\*------------------------------------*/

.subpage-header {
  margin-top: 6.4rem;
  text-align: center;
}

.subpage-header__heading {
  font-family: $ff-heading;
  font-weight: $fw-bold;
  font-size: 3.2rem;
  line-height: 1;
  margin: 0 0 2.4rem 0;
  color: $clr-dark-off;
}

.subpage-header__text {
  max-width: 68.8rem;
  margin: 0 auto;

  p {
    font-family: $ff-base;
    font-weight: $fw-normal;
    font-size: 1.6rem;
    line-height: 2.9rem;
    margin: 0;
    color: $clr-base;

    &:not(:last-child) {
      margin-bottom: 3.2rem;
    }
  }
}
