/*------------------------------------*\
  # Blog List
\*------------------------------------*/

.blog-list {
  @media (min-width: 768px) {
    margin-top: 0;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6.4rem 3.2rem;
  }
}

.blog-list-item {
  &:not(:last-child) {
    margin-bottom: 4.8rem;

    @media (min-width: 768px) {
      margin-bottom: 6.4rem;
    }

    @media (min-width: 1200px) {
      margin-bottom: 0rem;
    }
  }
}

.blog-list-item__image {
  height: 21.6rem;
  transition: all $transition;

  @media (min-width: 400px) {
    height: 26rem;
  }

  @media (min-width: 480px) {
    height: 34rem;
  }

  @media (min-width: 920px) {
    height: 40rem;
  }

  @media (min-width: 1200px) {
    height: 32rem;
  }

  &:hover,
  &:focus {
    opacity: 0.75;
  }
}

.blog-list-item-categories {
  @include list-unstyled;
  display: flex;
  margin-top: 2.4rem;
}

.blog-list-item-categories__item {
  line-height: 1;

  &:not(:last-child) {
    &::after {
      content: '';
      display: inline-block;
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      vertical-align: middle;
      background: #e4e8ee;
      margin: 0 0.8rem;
    }
  }
}

.blog-list-item-categories__link,
.blog-list-item__date {
  font-family: $ff-base;
  font-weight: $fw-medium;
  font-size: 1.4rem;
  line-height: 1;
}

.blog-list-item-categories__link {
  @include link-reset;
  @include link($clr-primary, darken($clr-primary, 15%));
}

.blog-list-item__date {
  display: inline-block;
  color: #aab3bf;
  margin-top: 1.6rem;
}

.blog-list-item__title {
  font-family: $ff-heading;
  font-weight: $fw-medium;
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 2.4rem 0 0 0;

  @media (min-width: 1200px) {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }
}

.blog-list-item__title-link {
  @include link-reset;
  @include link($clr-dark-off, $clr-primary);
}

.blog-list-item__teaser {
  font-family: $ff-base;
  font-weight: $fw-normal;
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-top: 1.6rem;
  color: $clr-base;

  @media (min-width: 1200px) {
    font-size: 1.6rem;
    line-height: 2.9rem;
  }

  p {
    margin: 0;
  }
}
