/*------------------------------------*\
  # Hero
\*------------------------------------*/

.hero {
  position: relative;
  margin-top: 6.4rem;

  &::before {
    content: url('../images/shapes/rect-shape.svg');
    position: absolute;
    top: -7.3rem;

    @media (min-width: 1020px) {
      content: url('../images/shapes/rect-shape-lg.svg');
    }
  }

  @media (min-width: 1020px) {
    margin-top: 9.6rem;
  }
}

.hero__inner {
  @media (min-width: 1020px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4rem;
  }

  @media (min-width: 1320px) {
    grid-template-columns: 688px 576px;
    justify-content: space-between;
  }
}

.hero__heading {
  font-family: $ff-heading;
  font-size: 3.2rem;
  font-weight: $fw-bold;
  line-height: 5.1rem;
  margin: 0;
  color: $clr-dark;

  @media (min-width: 1020px) {
    font-size: 4.4rem;
    line-height: 7rem;
  }
}

.hero__highlight {
  color: $clr-primary;
}

.hero__heading_break {
  display: block;
}

.hero__text {
  margin-top: 3.2rem;

  @media (min-width: 1020px) {
    margin-top: 4rem;
  }

  p {
    font-family: $ff-base;
    font-weight: $fw-normal;
    font-size: 1.6rem;
    line-height: 2.9rem;
    margin: 0;
    color: $clr-base;

    @media (min-width: 1020px) {
      font-size: 1.8rem;
      line-height: 3.2rem;
    }
  }

  p:not(:last-child) {
    margin-bottom: 4rem;

    @media (min-width: 1020px) {
      margin-bottom: 4.8rem;
    }
  }
}

.hero-cta {
  margin-top: 5.6rem;

  &::after {
    content: url('../images/shapes/rect-shape.svg');
    position: absolute;
    bottom: 4rem;
    right: 0;

    @media (min-width: 1020px) {
      content: url('../images/shapes/rect-shape-lg.svg');
    }
  }
}

.hero-cta__link {
  @include link-reset;
  @include link($clr-dark, $clr-primary);
  font-size: 1.6rem;
  font-weight: $fw-bold;
  text-transform: uppercase;
  display: flex;

  @media (min-width: 1020px) {
    font-size: 1.8rem;
  }

  &::before {
    content: url('../images/icons/long-arrow.svg');
    display: inline-block;
    margin-right: 2.4rem;

    position: relative;
    top: 0.2rem;

    @media (min-width: 1020px) {
      content: url('../images/icons/long-arrow-lg.svg');
    }
  }
}

.hero__photo {
  display: none;

  @media (min-width: 1020px) {
    display: block;
  }
}

.hero__image {
  height: 57.6rem;
}
