/*------------------------------------*\
  # Base
\*------------------------------------*/

@include base-styles;

body.is-open {
  overflow: hidden;
}

.divider-space-section {
  padding: 8rem 0;

  @media (min-width: 920px) {
    padding: 12rem 0;
  }
}

.site-content {
  // For GSAP
  visibility: hidden;
  // END For GSAP
}
