/*------------------------------------*\
  # Base
\*------------------------------------*/

@include base-styles;

body.is-open {
  overflow: hidden;
}

.divider-space-section {
  padding: 8rem 0;

  @media (min-width: 920px) {
    padding: 12rem 0;
  }
}

.subpage__inner {
  margin-top: 6.4rem;

  @media (min-width: 1020px) {
    margin-top: 9.6rem;
  }
}
